.vscode
statik/statik.go
movielite.yaml
statik/statik.go
movielite
vlc_helper
vetur.config.js
jsconfig.json
.vscode/settings.json
cmd/server/__debug_bin
workspace.code-workspace
.vscode/settings.json
cmd/server/__debug_bin*
