[Unit]
Description=MovieLite Service
After=network.target

[Service]
Type=simple
User=marcschaake
WorkingDirectory=/Users/marcschaake/go/movielite
Environment="PATH=/usr/local/bin:/usr/bin:/bin:/usr/games"
Environment="VLC_PLAYER=/usr/bin/vlc"
ExecStart=/Users/marcschaake/go/movielite/movielite start
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
