Mode: devel
Port: 8000
SQLDebug: false
Language: "en-US"
Database:
  Dbname: "./example/movielite.db"

TMDB:
  ApiKey: #add your api key
  ImageUrl: https://image.tmdb.org/t/p
  #Image Cache
  ImageDir: ./example/images

#Where base directory of your movie lib
TargetDirectory: ./example/movies

MovieServerUrl: http://localhost:8000

#Watch here for new movies
WatchDir: "./example/movies"

# enable webdav
WebDav: true
