// SCSS Variables file for Vue 3 compatibility
// This file can be used to define global SCSS variables

// Example variables (can be customized as needed)
$primary-color: #337ab7;
$text-color: #333;
$background-color: #fff;
